Clients losing IPv6 connectivity overnight on ISPs with nightly PPPoE reconnects due to RFC 9096 violation

**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

My Apple Silicon MacBook on macOS 26.0.1 and some other clients regularly lose IPv6 connectivity overnight (PPPoE reconnect at like 3 a.m.) and do not recover until turning WiFi off and on again.

The root cause is the fact that currently IPv6 RA with Preferred and Valid Lifetime 0s for the deprecated prefix are only sent for a short period of time, easily missed in long term standby situations and some IPv6 implementations like Apple's do not prefer IPv6 prefixes with longer lifetime to ones with shorter lifetime.

**Expected behavior**

Somewhat following [RFC 9096 section 3.5](https://www.rfc-editor.org/rfc/rfc9096.html#name-signaling-stale-configurati).

Suggest behavior: radvd should announce at least the last deprecated IPv6 prefix with lifetime 0 for the duration of the original valid lifetime and/or until the next regeneration of config/reload.

User experience: IPv6 connectivity should consistently work across all devices when using a DSL line with forced reconnects after 24 hours like for example https://www.o2online.de/ and https://www.1und1.de/ in Germany.

**Describe alternatives you considered**

There is no amount of manual tweaking with RA parameters suitable to fix this, there is a point of really short lifetimes where the Mac behaves properly but Android phones lose IPv6 connectivity entirely.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Relevant log files**

If applicable, information from log files supporting your claim.

**Additional context**

This may be seen as partially related to https://github.com/opnsense/core/issues/8505, but I cannot reproduce their core-issue likely caused by the switch used and its configuration.

**Environment**

Software version used and hardware type if relevant, e.g.:

OPNsense 25.7 (amd64) and earlier, no known-working version exists

> Could you try using dnsmasq for RAs? Maybe you wont have the same issues with it. I use PPPoE with Dnsmasq RAs with Telekom VDSL and dont have any hiccups on apple or android devices.
> 
> https://docs.opnsense.org/manual/dnsmasq.html#dhcpv6-and-router-advertisements

Well, Deutsche Telekom only does PPPoE reconnects every 180 days if your line is in good shape and there are no DSLAM and/or BNG updates disrupting it.

I do not consider this a support ticket, I even intended to work on implementing a solution myself.

Have you read the relevant section of the RFC I sent?

No I have not read the RFC, I have just stated an alternative to try.

Support just means there might be code issues but it not has been looked into yet (its like a triage label too)

If you want to look into it more and implement something feel free to offer a PR.

Are you saying radvd doesn't work properly here in this case? I would suggest asking over at https://github.com/radvd-project/radvd because I'm not sure what else you could be referring to. Maybe there's a setting we can leaverage, but I don't know.


Cheers,
Franco

@fichtner would you accept PRs that implement this before radvd is converted to MVC? or would it need to be after

Keeping track of deprecated prefixes? We’re barely aware of the current prefix being added by dhcp6c. You can only really implement “something clever” by doing everything in a single daemon, but that is also not OPNsense core territory.