OPNsense HA - IPv6 RA with "router lifetime 0s" on shutdown

**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I use two OPNsense firewalls in HA and serve IPv6 addresses to clients via Router Advertisements (SLAAC).
The IPv6 LAN and WAN addresses and prefixes are static, no DHCPv6 prefix delegation is used.
Both OPNsense firewalls have an IPv6 GUA on the LAN interfaces, as well as an IPv6 LLA and GUA via CARP:

**Primary OPNsense**
- LAN IP: `200_:____:____:2422::1000:1/64`

**Secondary OPNsense**
- LAN IP: `200_:____:____:2422::1000:2/64`

**CARP VIPs**
- CARP VIP 1: `200_:____:____:2422::1/64`
- CARP VIP 2: `fe80::22:1/64`

The RAs are sent via the IPv6 CARP LLA `fe80::22:1` as recommended in the documentation:
https://docs.opnsense.org/manual/how-tos/carp.html#setup-virtual-ipv6-link-local-address

When one of the OPNsense firewalls is shut down, a final RA message is sent:

```shell
root@freebsd-test02:~ # tcpdump -vvvv -ttt -i vtnet0 icmp6 and 'ip6[40] = 134'                                                                                               
tcpdump: listening on vtnet0, link-type EN10MB (Ethernet), snapshot length 262144 bytes                                                                                      
 00:00:00.000000 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 56) fe80::22:1 > ff02::1: [icmp6 sum ok] ICMP6, router advertisement, length 56                      
        hop limit 64, Flags [other stateful], pref medium, router lifetime 0s, reachable time 0ms, retrans timer 0ms                                                         
          prefix info option (3), length 32 (4): 200_:____:____:2422::/64, Flags [onlink, auto], valid time 86400s, pref. time 14400s                                           
            0x0000:  40c0 0001 5180 0000 3840 0000 0000 200_                                                                                                                 
            0x0010:  ____ ____ 2422 0000 0000 0000 0000                                                                                                                      
          mtu option (5), length 8 (1):  1500                                                                                                                                
            0x0000:  0000 0000 05dc                                                                                                                                          
```

This will cause the clients to lose IPv6 connectivity, as their default IPv6 gateway ::/0 will be dropped from the routing table:

```shell
16 bytes from 2001:4860:4860::8888, icmp_seq=266 hlim=59 time=12.600 ms                                                                                                      
16 bytes from 2001:4860:4860::8888, icmp_seq=267 hlim=59 time=12.977 ms                                                                                                      
16 bytes from 2001:4860:4860::8888, icmp_seq=268 hlim=59 time=13.233 ms                                                                                                      
ping: sendmsg: No route to host                                                                                                                                              
ping6: wrote dns.google 16 chars, ret=-1                                                                                                                                     
ping: sendmsg: No route to host                                                                                                                                              
ping6: wrote dns.google 16 chars, ret=-1                                                                                                                                     
ping: sendmsg: No route to host                                                                                                                                              
ping6: wrote dns.google 16 chars, ret=-1 
```

After some time, the remaining OPNsense firewall will send another RA message, which restores IPv6 connectivity:

```shell
 00:03:55.178709 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 104) fe80::22:1 > ff02::1: [icmp6 sum ok] ICMP6, router advertisement, length 104                    
        hop limit 64, Flags [other stateful], pref medium, router lifetime 1800s, reachable time 0ms, retrans timer 0ms                                                      
          prefix info option (3), length 32 (4): 200_:____:____:2422::/64, Flags [onlink, auto], valid time 86400s, pref. time 14400s                                           
            0x0000:  40c0 0001 5180 0000 3840 0000 0000 200_                                                                                                                
            0x0010:  ____ ____ 2422 0000 0000 0000 0000                                                                                                                      
          rdnss option (25), length 24 (3):  lifetime 600s, addr: ____:____:____:2422::1                                                                                        
            0x0000:  0000 0000 0258 200_ ____ ____ 2422 0000                                                                                                                 
            0x0010:  0000 0000 0001                                                                                                                                          
          dnssl option (31), length 24 (3):  lifetime 600s, domain(s): localdomain.                                                                                          
            0x0000:  0000 0000 0258 0b6c 6f63 616c 646f 6d61                                                                                                                 
            0x0010:  696e 0000 0000                                                                                                                                          
          mtu option (5), length 8 (1):  1500                                                                                                                                
            0x0000:  0000 0000 05dc
```

This happens regardless of whether Permanent CARP Maintenance Mode is enabled.
The last RA is always sent from the IPv6 LLA CARP VIP `fe80::22:1`.

**To Reproduce**

Steps to reproduce the behavior:
1. Set up HA on either OPNsense 23.7.12_5 or OPNsense 24.1_1.
2. Configure IPv6 addresses on all interfaces and create CARP VIPs.
3. Set up Router Advertisement on both firewalls
4. Shut down either the primary or secondary firewall (CARP ownership does not matter)
5. The firewall which is shutting down sends a last RA message with "router lifetime 0s".
6. Clients stop using the IPv6 LLA CARP VIP `fe80::22:1` as their default gateway.

**Expected behavior**

When an OPNsense firewall is in HA mode, it should not send RA messages with "router lifetime 0s" on shutdown.
Especially if the shutting down OPNsense firewall is not the CARP "Master" but the "Backup".

**Describe alternatives you considered**

The remaining OPNsense firewall could send another RA message as soon as it detects the other OPNsense firewall as down.


**Environment**

OPNsense 23.7.12 (amd64) / OPNsense 24.1 (amd64).
Intel® Core™ i3-10100 4.3Ghz Quad Core
VirtIO network interfaces
Proxmox Virtual Environment 7.4-17


Hello again :)

Can you dump both /var/etc/radvd.conf on the machines? Both should set deprecation to off if it's a full CARP setup. If not it needs tweaking. If it is turned off I am not sure what we could do.


Cheers,
Franco

Hi :)

Here you go:

**OPNsense 1 (primary)**

```
root@fw01-ha-test:~ # cat /var/etc/radvd.conf
# Automatically generated, do not edit
# Generated RADVD config for manual assignment on lan
interface vtnet1 {
        AdvSendAdvert on;
        MinRtrAdvInterval 200;
        MaxRtrAdvInterval 600;
        AdvLinkMTU 1500;
        AdvDefaultPreference medium;
        AdvManagedFlag off;
        AdvOtherConfigFlag on;
        AdvRASrcAddress {
                fe80::22:1;
        };
        AdvSourceLLAddress off;
        prefix 2003:a:270c:2422::/64 {
                DeprecatePrefix off;
                AdvOnLink on;
                AdvAutonomous on;
        };
        RDNSS 200_:____:____:2422::1 {
        };
        DNSSL localdomain {
        };
};
```

**OPNsense 2 (secondary)**

```
root@fw02-ha-test:~ # cat /var/etc/radvd.conf
# Automatically generated, do not edit
# Generated RADVD config for manual assignment on lan
interface vtnet1 {
        AdvSendAdvert on;
        MinRtrAdvInterval 200;
        MaxRtrAdvInterval 600;
        AdvLinkMTU 1500;
        AdvDefaultPreference medium;
        AdvManagedFlag off;
        AdvOtherConfigFlag on;
        AdvRASrcAddress {
                fe80::22:1;
        };
        AdvSourceLLAddress off;
        prefix 2003:a:270c:2422::/64 {
                DeprecatePrefix off;
                AdvOnLink on;
                AdvAutonomous on;
        };
        RDNSS 200_:____:____:2422::1 {
        };
        DNSSL localdomain {
        };
};
```

Cheers

Hmm so `DeprecatePrefix off` looks like it is configured correctly. The clients stick to the prefix but lose the route anyway?

Yes, my theory is because of the value "Router lifetime 0s":
![grafik](https://github.com/opnsense/core/assets/111726680/73f2f3e7-d877-4eba-9f27-a49d68d64015)

I tried increasing the frequency of `MinRtrAdvInterval` to `3s` and `MinRtrAdvInterval` to `4s` (the lowest allowed values).
This reduces the time that IPv6 clients have no IPv6 default gateway to 3 seconds, but still causes packets to be dropped.

This is odd because according to the `radvd.conf' [man page] (https://man.freebsd.org/cgi/man.cgi?query=radvd.conf), this should not be the case:

```
DeprecatePrefix on|off

	      Upon shutdown, this option will cause  radvd  to	deprecate  the
	      prefix  by  announcing  it  in the radvd shutdown	RA with	a zero
	      preferred	lifetime and a valid lifetime slightly greater than  2
	      hours. This will encourage end-nodes using this prefix to	depre-
	      cate any associated addresses immediately. Note that this	option
	      should  only be used when	only one router	is announcing the pre-
	      fix onto the link, otherwise end-nodes will deprecate associated
	      addresses	despite	the prefix still  being	 valid	for  preferred
	      use.

	      See  RFC4862, section 5.5.3., "Router Advertisement Processing",
	      part (e).

	      Default: off
```
 

> Could this be somehow connected to https://github.com/opnsense/core/issues/4328 ?

How? I mean we set it up correctly in the CARP case, which is where you'd want this. Unless there is an exception in the radvd source code that ignores it...

There is `AdvDefaultLifetime`, but it is supposed to be:

> Must be either zero or between MaxRtrAdvInterval and 9000 seconds.
> Default: 3 * MaxRtrAdvInterval (Minimum 1 second).

You set the router to not be a default router?

No, it looks ok since `AdvDefaultLifetime` is not there. A bit weird if you ask me... but you can override that value.

> There is `AdvDefaultLifetime`, but it is supposed to be:
> 
> > Must be either zero or between MaxRtrAdvInterval and 9000 seconds.
> > Default: 3 * MaxRtrAdvInterval (Minimum 1 second).

I tried setting `AdvDefaultLifetime` to 120, where `MinRtrAdvInterval` is set to 3 and `MaxRtrAdvInterval` to 4.
For some reason, this is still ignored:

**Shutdown:**
![grafik](https://github.com/opnsense/core/assets/111726680/4e78e63b-e129-45b3-96db-dbfcc4c7a795)

**Running:**
![grafik](https://github.com/opnsense/core/assets/111726680/482dbd9d-5f54-48a2-b1cc-9fb21e972b4b)

**Config:**

```shell
# Automatically generated, do not edit
# Generated RADVD config for manual assignment on lan
interface vtnet1 {
        AdvSendAdvert on;
        MinRtrAdvInterval 3;
        MaxRtrAdvInterval 4;
        AdvDefaultLifetime 120;
        AdvLinkMTU 1500;
        AdvDefaultPreference medium;
        AdvManagedFlag off;
        AdvOtherConfigFlag on;
        AdvRASrcAddress {
                fe80::22:1;
        };
        AdvSourceLLAddress off;
        prefix 200_:____:____:2422::/64 {
                DeprecatePrefix off;
                AdvOnLink on;
                AdvAutonomous on;
        };
        RDNSS 200_:____:____:2422::1 {
        };
        DNSSL localdomain {
        };
};
```

Ok since it isn't throwing a syntax error I suppose it's correctly set but still ignored. Time to dive into radvd code? 😟 

I do have time, but I'm not sure what I should be looking for.

Ok that was easier than expected?

https://github.com/radvd-project/radvd/blob/f2de4764559e102fe8492520be328858af0f964d/radvd.conf.5.man#L371

> .BR RemoveAdvOnExit " " on | off
> 
> Upon shutdown, send a final advertisement with zero Router Lifetime. This should cause the router and routes to be immediately removed from the receiving end-nodes' route table. This may need to be disabled ("off") in an vrrp or carp setup.
> 
> Default: on

    # opnsense-patch c965e8d

:)

I just applied the patch, but then I got a syntax error and `radvd` won't start:
![image](https://github.com/opnsense/core/assets/111726680/fcd1d1b7-f262-4748-9c37-0322f75e57a3)

Had to change the "Source Address" from `VIP LAN (fe80::22:1)` to `Automatic`, after that `radvd` works again:
![image](https://github.com/opnsense/core/assets/111726680/08f98d14-0079-4034-bf94-802e772e5b7f)

Tomorrow I will do some more testing, until then :)

I couldn’t test yet. Will take a look on Monday. Sorry.


Cheers,
Franco

I've done some more testing and it seems that `radvd` really does not like

```shell
RemoveAdvOnExit;
```

Maybe the FreeBSD version of `radvd` was not compiled with this option? (I really don't know).

Yeah, it's not in radvd.conf(5) so it was added by radvd later. They have an RC out for the new version. The other one we have is 3 years old., see https://github.com/radvd-project/radvd/tags

It would probably be better to check if we can cherry-pick this option into our current version. Let me see.


Cheers,
Franco

https://github.com/radvd-project/radvd/pull/172 :)

How about this then?

    # opnsense-revert -z radvd
    # killall radvd
    # pluginctl dhcp inet6


Cheers,
Franco

For reference: https://github.com/opnsense/ports/commit/f3c35658180f

I tried the commands above, here are the results:
- The sysntax error in `radvd.conf` due to the `RemoveAdvOnExit;` line has disappeared and `radvd` is running again.
- The primary and secondary OPNsense firewalls no longer send RAs with 0s lifetime on shutdown or reboot.
- The secondary OPNsense firewall takes over CARP when primary OPNsense dies/shutdown and only 1-3 pings are dropped.
- The secondary OPNsense firewall takes over CARP when the primary goes into CARP maintenance mode and no pings are dropped.
- My test clients (Windows 10 / FreeBSD 14 / Pop!_OS 22.4) use `fe80::22:1` as default gateway and DNS server.
- Works with both Router Advertisements in `Unmanaged` and `Stateless` mode.

So as far as I can tell, everything now works as intended. :)

@subnetspider yay, thanks for your qualified reports and testing help!

I'll see if this behaves and move it to 24.1.2 with the radvd patched. Then I'll also see if FreeBSD ports is interested in the patched version. It's useful for other firewalls too I guess. ;)


Cheers,
Franco

Im always happy to help improving OPNsense, especially if its about IPv6.
Thank you for your cooperation. :)