Underscore in alias not a valid hostname

Receive error "Entry "ipv4_1.cc0.c026.mia006.ix.nflxvideo.net" is not a valid hostname or IP address" when adding as an Alias. 

- I tested if replacing the "_" with a "0" and it worked. 

- I tested a shorter hostname including the "_" and that failed validation.

Version:
OPNsense 19.7.5_5-amd64
FreeBSD 11.2-RELEASE-p14-HBSD
OpenSSL 1.0.2t 10 Sep 2019

Ping checks out with underscore.

![Screenshot_2019-10-21_15-08-01](https://user-images.githubusercontent.com/1874833/67235206-a833c880-f414-11e9-81f9-322cc73572c5.png)


underscore is an invalid #$%@! hostname character.

apparently netflix doesn't know what RFC 822 is.

Jesus c'mon netflix

 🙄

and RFC 952.

and RFC 1123.

the exception being for SRV records (RFC 2782)

gawd 

**underscores aren't a valid hostname character**

😠

LOL I just opened a ticket with their network ops in Los Gatos. 

let's see what Netflix has to say about themselves 😁



This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/core/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.
