dhcpd / dhcpdv6 / radvd: "none" option for DNS servers

[+] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[+] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
You might not want to offer DNS in some LANs. But DHCP replies as well as Router Advertisements always include DNS server addresses, so clients unsuccessfully send DNS queries to these addresses.

**Describe the solution you'd like**
I would like to be able to type "none" in the _DNS servers_ input fields in `services_dhcp.php`, `services_dhcpv6.php` and `services_router_advertisements.php`. Or a "None" checkbox. This would then remove the DNS servers from dhcpd.conf / dhcpdv6.conf / radvd.conf.

**Describe alternatives you've considered**
Disabling Unbound and Dnsmasq and not configuring any global DNS servers works, but is typically not desirable.

The RFC's for ipv6 require a mandatory DNS in the Router Announcements unless it is set as route only.  I think that opnsense already has a "router only mode"

If a router announces the prefix then it is supposed to announce the DNS via RFC 8106 IPv6 Router Advertisement Options for DNS Configuration (RDNSS).

So there should be a warning, if you select "none" that you will not be in compliance with RFC 8200 (STD: 86) Internet Protocol, Version 6 (IPv6) Specification.



> If a router announces the prefix then it is supposed to announce the DNS via RFC 8106 IPv6 Router Advertisement Options for DNS Configuration (RDNSS).

Interesting, I wasn't aware that this was made mandatory. Do you know in which section of which RFC?

RFC 8504 IPv6 Node Requirements Best Current Practice 220.

RFC 8504 is a list of which items are mandatory (MUST) vs optional (SHOULD) but then you have to veer off into the RFC's themselves.  A quick search for "must" in the RFC is pretty informative.

Basically the gist, is that the host client is only required by RFC to support RDNSS, so it becomes a mandatory part of the RA that assigns prefixes.

RFC 8106 IPv6 Router Advertisement Options for DNS Configuration (RDNSS)

RFC 8106 states that Hosts conforming to RFC4861 MUST extract DNS information from the RA messages, unless static DNS has been specified by the user. If there is DNS information available from multiple RAs and/or from DHCP, the host MUST maintain an ordered list of this information as specified in RFC 8106 Section 5.3.1. This section says that the host must maintain a table of the DNS and specifies the order they should be used.

Having an option for "none" is probably acceptable if you have another router in the system doing RAs or know what you are doing.  Sometimes less choices are better.

I assume that lack of reliable DNS servers was causing vendors to hard code google and such in their devices.

Quote from RFC8504:

`8.3.  IPv6 Router Advertisement Options for DNS Configuration - RFC 8106

   Router Advertisement options have historically been limited to those
   that are critical to basic IPv6 functionality.  Originally, DNS
   configuration was not included as an RA option, and DHCP was the
   recommended way to obtain DNS configuration information.  Over time,
   the thinking surrounding such an option has evolved.  It is now
   generally recognized that few nodes can function adequately without
   having access to a working DNS resolver; thus, a Standards Track
   document has been published to provide this capability [RFC8106].

   Implementations MUST include support for the DNS RA option [RFC8106].`



I agree that it generally makes sense to include RDNSS information in RAs and of course this should remain the default. But I can't find any statement that says you MUST NOT disable that. There are valid use cases for RAs without RDNSS information. One of them is having multiple routers sending RAs (which you mentioned). Another one are managed LANs which exclusively use DHCPv6 for configuring addresses and options.

The "know what you are doing" part should be self-evident. OPNsense has many advanced features and will not stop you from shooting yourself in the foot.

Implementations MUST include support for the DNS RA option [RFC8106]. 

The problem is that LANs which "exclusively" use DHCPv6 for configuring addresses and options is an unsupported configuration per RFC.  If the O flag is set, then a host "SHOULD" get additional information from DHCPv6.  That is also true of the "M" flag.  You can see in the RFC that support for DHCPv6 is optional and there are many hosts that do not support DHCPv6 because it isn't required.

The RFC says that if DHCPv6 is available, it "SHOULD" be used. It accommodates DHCPv6 by making it higher priority.

RFC 8106 anticipates that both can be used and provides a precedence order for the hosts.

"5.3.1. Procedure in IPv6 Hosts
In the case where the DNS information of RDNSS and DNSSL can be
obtained from multiple sources, such as RAs and DHCP, the IPv6 host
SHOULD keep some DNS options from all sources." 
. . . . .  
"The DNS options from RAs and DHCP SHOULD be stored in the DNS Repository and Resolver Repository so that information from DHCP appears there first and therefore takes
precedence. Thus, the DNS information from DHCP takes precedence
over that from RAs for DNS queries. On the other hand, for DNS
options announced by RAs, if some RAs use the Secure Neighbor
Discovery (SEND) protocol [RFC3971] for RA security, they MUST be
preferred over those that do not use SEND. Also, DNS options
announced by RAs via SEND MUST be preferred over those announced by
unauthenticated DHCP [RFC3118]. Refer to Section 7 for a detailed
discussion of SEND for DNS RA options."




This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/core/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.
