radvd: Option to set DeprecatePrefix to off

**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**

When I update OPNsense and reboot, radvd sends out a router advertisement setting preferred lifetime to 0 causing all my clients to deprecate the prefix. This is intended behavour, because radvds DeprecatePrefix is set to on in the config.

The config generated by OPNsense:

```
interface vtnet1 {
	AdvSendAdvert on;
	MinRtrAdvInterval 200;
	MaxRtrAdvInterval 600;
	AdvLinkMTU 1500;
	AdvDefaultPreference high;
	prefix 2001:db8::/64 {
		DeprecatePrefix on;
		AdvOnLink on;
		AdvAutonomous on;
	};
	RDNSS 2001:db8::1/32 {
	};
	DNSSL mydomain.de {
	};
};
```

Excerpt from the radvd config man page:

          DeprecatePrefix on|off

	      Upon shutdown, this option will cause  radvd  to	deprecate  the
	      prefix  by  announcing  it  in the radvd shutdown	RA with	a zero
	      preferred	lifetime and a valid lifetime slightly greater than  2
	      hours. This will encourage end-nodes using this prefix to	depre-
	      cate any associated addresses immediately. Note that this	option
	      should  only be used when	only one router	is announcing the pre-
	      fix onto the link, otherwise end-nodes will deprecate associated
	      addresses	 despite  the  prefix  still being valid for preferred
	      use.

	      See RFC4862, section 5.5.3., "Router Advertisement  Processing",
	      part (e).

	      Default: off

I understand that this option is on by default and I'd suggest leaving it that way. It makes the switch to a new prefix when using dynamic prefixes painless.   
I've got a static prefix from my ISP so my LAN prefix never changes. When OPNsense reboots I loose internet access (that's expected) but I also loose LAN connectivity due to the deprecated prefix. I need to fall back to the link local addresses.

**Describe the solution you'd like**

I'd like to have a checkbox in the OPNsense Router Advertisements GUI where I can toggle `DeprecatePrefix` to on or off.

**Describe alternatives you've considered**

Static IPv6 addresses for everything.

**Additional context**

![Bildschirmfoto 2020-09-06 um 12 47 30](https://user-images.githubusercontent.com/5420564/92324147-2bff9f00-f03f-11ea-9b0d-fc08ca1d911d.png)

