IPv6 zeroconf/Link-Local "suboptimal" in OOB config for DSR and anti lock out

**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The IPv6 Link-Local on LAN is not present when acquiring a prefix from WAN fails. Even though LAN is set to "Track Interface" and WAN has a valid IPv6 address (but somehow no prefix).
Zeroconf should always be initialized (unless disabled manually).

Also, the fe80::%iface addresses are missing from the firewall zones which also causes issues with zeroconf and DSR. Esp. because this prevents the web interface from being reachable via LL and unbound config defaulting to "Do not register IPv6 Link-Local addresses: false"

Additionally to provide a better user experience in DSR scenarios and lockout prevention AVAHI could be shipped and preconfigured to announce the web interface service to LAN and allow to find the opnsense again after missconfiguration. And regarding IPv4 it should be considered to always have an RFC 3927 present (as other routers like AVM Fritz!Box do) for the same reason (keeping an IPv4-LL even though a DHCPv4 one is configured is an optional "MAY" within RFC 3927 for accepting new connections and technically a "MUST NOT alter [remove]" for deconfiguring it once DHCP is present that OPNsense currently does not implement).

Furthermore OPNsense currently also doesn't properly handle IPv4-LL clients, as it should accept IPv4-LL source addresses with it's routable IPv4 as destination, as long as it's on the same link. Technically we don't need an IPv4-LL address ourselves for this, but having multiple addresses on the interface looks like a simpler and "cleaner" implementation than the implicit (also currently within OPNsense not working) behavior of section 3.3 from RFC 3927. Also, OPNsense doesn't join the 224.0.0.2 all routers multicast group nor reply or handle 224.0.0.22 (IGMPv3), but IPv4 is legacy anyway, so providing that as well as fixing that spam within the firewall log is probably irrelevant by now.

(Note: The mentioned AVM Fritz!Box is however ignoring the "pseudo-random number generation algorithm MUST be chosen" and always uses 169.254.1.1)

**To Reproduce**

Steps to reproduce the behavior:
1. Boot iso (to get clean OOBE for reproducibility reasons)
2. Configure WAN and LAN interface (my testing instance has LAN vlan30, WAN vlan10)
3. Now a router on WAN should provide a prefix, but because of the default of "Override MTU: true" on WAN it didn't get one.
4. IPv6 configuration of LAN is skipped entirely, not even the Link-Local is initialized (see screenshot)

**Expected behavior**

Zeroconf should always be present on the interface, especially if IP configuration doesn't fully succeed.

**Describe alternatives you considered**

To not use zeroconf and to not rely on it being present for DSR.

**Screenshots**

![image](https://github.com/opnsense/core/assets/2544867/c871d497-c3e2-49f5-9df9-c15ddeba92a3)

**Environment**

OPNsense 23.7.4-amd64
FreeBSD 13.2-RELEASE-p3
OpenSSL 1.1.1v 1 Aug 2023
AMD Ryzen 7 3800X 8-Core Processor (1 cores, 1 threads)


Hi, I don’t fully understand. Could you back up your observations with ifconfig output to compare what is there and what is not?

These are quite a few requests for one issue, but one of them has indeed been on my personal "should address at some point" list for a long time: Track6 LAN interfaces missing IPv6 link-local addresses when the WAN is down.

@fichtner: When the WAN is down (no prefix available), track6 LAN interfaces obviously have no IPv6 GUA. But they also don't have a link-local address, which is unexpected. Worst case, the WAN being down could result in no access to the OPNsense Web GUI at all, because the LAN interfaces have no addresses.
There are workarounds (IP aliases), but I agree that every IPv6-enabled interface should always have a link-local address, unconditionally.

Exactly what @maurice-w says. The rest of this ticket is basically just to elaborate why having LL v6 is important and what we can/could do with it. I intended for the rest to be more of an elaboration of why it is important and how it fits into a bigger picture of "DSR and user experience".
And that is obv. more complex as it isn't "just one screw", but a bunch of screws that make the car...

I’ve seen the claim, but I’m unsure what’s stripping the LAN link-local. I don’t think it’s core code, but I could be wrong.

on other topics it helps to avoid or explain abbreviations to prevent misunderstandings or outright question marks.

cheers,
Franco

So during googling I stumbled upon this... https://forum.opnsense.org/index.php?topic=28030.msg137105#msg137105 ;)

I have a VM setup here that doesn't have IPv6 but tries to init it as per default configuration so I could observe this now. `ifdisabled` seems to prevent `auto_linklocal` from working. This changes when you add any IPv6 address. Looking at the code this 02b6085 should help, but also indicates that this used to be different before FreeBSD 13.

    # opnsense-patch 02b6085

In any case thanks for the report!

Cheers,
Franco

Just wanted to confirm that this works for me. A track6 LAN interface now has a link-local address even if the WAN is down. Thanks @fichtner!