ipsec: StrongSwan 6.0.3 hang on CHILD_CREATE

**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I have a fairly complex IPSec set up that works on 25.7.6 but not on 25.7.7_4. Unfortunately, I had to revert back as it takes a lot of networks offline so I am limited on what I can troubleshoot. Under 25.7.7, only 1 Child SA is established per remote firewall, the rest show CHILD_CREATE are queued.

My environment has the following:
* All defined under Connections - none in Legacy
* Connect to 5 remote firewalls all with pre-shared keys
* All using policy-based routing with 26, 7, 1, 1, 1 Phase 2 networks defined
* Use NAT before IPSec so there are manual entries in the security policy database
* 10s DPD delay for firewalls with 26 and 7 Phase 2 networks
* All have Trap+Start initial action, Start for close action, and Start for DPD action. So I expect all networks in INSTALLED state at boot.

**To Reproduce**

I don't know where the issue is so this is difficult to reproduce.

**Expected behavior**

CHILD_SA tunnels created and all Phase 2 networks in INSTALLED state. This is how it works under 25.7.6.

**Describe alternatives you considered**

I thought about reverting just the strongswan version since it was updated from 6.0.1 to 6.0.3, but I don't know if that is a good direction or complicate troubleshooting. I also need to know the proper way to do that.

**Screenshots**

Here is the output showing it is stuck on creating the Phase 2 connections. It also shows one Child SA is active/INSTALLED per firewall connection.

```
# swanctl -l

72d21310-9377-4acc-a5b1-96fe6b9ed68b: #6, ESTABLISHED, IKEv2, 15bf3dcb7d700ce9_i* 3485391e071957ea_r
  local  'fw-psk' @ y.y.y.y[4500]
  remote 'x.x.x.1' @ x.x.x.1[4500]
  AES_CBC-256/HMAC_SHA2_384_192/PRF_HMAC_SHA2_384/ECP_384
  established 36s ago, rekeying in 28483s
  queued:  CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE
  active:  CHILD_CREATE
  fae45a29-eef4-4f37-b698-e0bdea98376e: #44, reqid 1001, INSTALLED, TUNNEL, ESP:AES_GCM_16-256
    installed 36s ago, rekeying in 3241s, expires in 3924s
    in  c8447c4a,      0 bytes,     0 packets
    out 39ac7919,      0 bytes,     0 packets
    local  10.x.x.x/27
    remote x.x.x.48/28

190a517d-9bae-4260-aad5-42e085e0b47a: #7, ESTABLISHED, IKEv2, ee45d5dfc2aef908_i* 57519d1f249da33f_r
  local  'fw-psk' @ y.y.y.y[4500]
  remote 'x.x.x.2' @ x.x.x.x[4500]
  AES_CBC-256/HMAC_SHA2_384_192/PRF_HMAC_SHA2_384/ECP_384
  established 36s ago, rekeying in 27017s
  queued:  CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE CHILD_CREATE
  active:  CHILD_CREATE
  00beba57-3410-4c62-9e5c-98f55edd433e: #45, reqid 35, INSTALLED, TUNNEL, ESP:AES_GCM_16-256
    installed 36s ago, rekeying in 3219s, expires in 3924s
    in  c14d3174,      0 bytes,     0 packets
    out 1ea09aa7,      0 bytes,     0 packets
    local  10.x.x.x/27
    remote x.x.x.0/24
```

**Relevant log files**
```
<30>1 2025-11-11T13:32:47-06:00 gw charon 62851 - [meta sequenceId="4853"] 06[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:47-06:00 gw charon 62851 - [meta sequenceId="4854"] 06[IKE2] <190a517d-9bae-4260-aad5-42e085e0b47a|9> queueing CHILD_CREATE task
<30>1 2025-11-11T13:32:47-06:00 gw charon 62851 - [meta sequenceId="4855"] 06[IKE2] <190a517d-9bae-4260-aad5-42e085e0b47a|9> delaying task initiation, CREATE_CHILD_SA exchange in progress
<30>1 2025-11-11T13:32:48-06:00 gw charon 62851 - [meta sequenceId="4856"] 06[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:48-06:00 gw charon 62851 - [meta sequenceId="4857"] 06[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:48-06:00 gw charon 62851 - [meta sequenceId="4858"] 01[CFG1] ignoring acquire for reqid 32, connection attempt pending
<30>1 2025-11-11T13:32:48-06:00 gw charon 62851 - [meta sequenceId="4859"] 06[IKE1] <190a517d-9bae-4260-aad5-42e085e0b47a|9> retransmit 1 of request with message ID 2
<30>1 2025-11-11T13:32:48-06:00 gw charon 62851 - [meta sequenceId="4860"] 06[IKE1] <72d21310-9377-4acc-a5b1-96fe6b9ed68b|10> retransmit 1 of request with message ID 2
<30>1 2025-11-11T13:32:49-06:00 gw charon 62851 - [meta sequenceId="4861"] 06[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:49-06:00 gw charon 62851 - [meta sequenceId="4862"] 06[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:49-06:00 gw charon 62851 - [meta sequenceId="4863"] 05[CFG1] ignoring acquire for reqid 32, connection attempt pending
<30>1 2025-11-11T13:32:50-06:00 gw charon 62851 - [meta sequenceId="4864"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:50-06:00 gw charon 62851 - [meta sequenceId="4865"] 05[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:50-06:00 gw charon 62851 - [meta sequenceId="4866"] 05[CFG1] ignoring acquire for reqid 32, connection attempt pending
<30>1 2025-11-11T13:32:51-06:00 gw charon 62851 - [meta sequenceId="4867"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:51-06:00 gw charon 62851 - [meta sequenceId="4868"] 05[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:51-06:00 gw charon 62851 - [meta sequenceId="4869"] 05[CFG1] ignoring acquire for reqid 32, connection attempt pending
<30>1 2025-11-11T13:32:51-06:00 gw charon 62851 - [meta sequenceId="4870"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:51-06:00 gw charon 62851 - [meta sequenceId="4871"] 05[KNL1] creating acquire job for policy with reqid {1002}
<30>1 2025-11-11T13:32:51-06:00 gw charon 62851 - [meta sequenceId="4872"] 06[IKE2] <72d21310-9377-4acc-a5b1-96fe6b9ed68b|10> queueing CHILD_CREATE task
<30>1 2025-11-11T13:32:51-06:00 gw charon 62851 - [meta sequenceId="4873"] 06[IKE2] <72d21310-9377-4acc-a5b1-96fe6b9ed68b|10> delaying task initiation, CREATE_CHILD_SA exchange in progress
<30>1 2025-11-11T13:32:52-06:00 gw charon 62851 - [meta sequenceId="4874"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:52-06:00 gw charon 62851 - [meta sequenceId="4875"] 05[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:52-06:00 gw charon 62851 - [meta sequenceId="4876"] 05[CFG1] ignoring acquire for reqid 32, connection attempt pending
<30>1 2025-11-11T13:32:53-06:00 gw charon 62851 - [meta sequenceId="4877"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:53-06:00 gw charon 62851 - [meta sequenceId="4878"] 05[KNL1] creating acquire job for policy with reqid {1000}
<30>1 2025-11-11T13:32:53-06:00 gw charon 62851 - [meta sequenceId="4879"] 05[CFG1] ignoring acquire for reqid 1000, connection attempt pending
<30>1 2025-11-11T13:32:54-06:00 gw charon 62851 - [meta sequenceId="4880"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:54-06:00 gw charon 62851 - [meta sequenceId="4881"] 05[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:54-06:00 gw charon 62851 - [meta sequenceId="4882"] 05[CFG1] ignoring acquire for reqid 32, connection attempt pending
<30>1 2025-11-11T13:32:56-06:00 gw charon 62851 - [meta sequenceId="4883"] 05[IKE1] <190a517d-9bae-4260-aad5-42e085e0b47a|9> retransmit 2 of request with message ID 2
<30>1 2025-11-11T13:32:56-06:00 gw charon 62851 - [meta sequenceId="4884"] 05[IKE1] <72d21310-9377-4acc-a5b1-96fe6b9ed68b|10> retransmit 2 of request with message ID 2
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4885"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4886"] 05[KNL1] creating acquire job for policy with reqid {1000}
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4887"] 05[CFG1] ignoring acquire for reqid 1000, connection attempt pending
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4888"] 05[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4889"] 05[KNL1] creating acquire job for policy with reqid {32}
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4890"] 11[CFG1] ignoring acquire for reqid 32, connection attempt pending
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4891"] 11[KNL2] received an SADB_ACQUIRE
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4892"] 11[KNL1] creating acquire job for policy with reqid {20}
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4893"] 05[IKE2] <72d21310-9377-4acc-a5b1-96fe6b9ed68b|10> queueing CHILD_CREATE task
<30>1 2025-11-11T13:32:59-06:00 gw charon 62851 - [meta sequenceId="4894"] 05[IKE2] <72d21310-9377-4acc-a5b1-96fe6b9ed68b|10> delaying task initiation, CREATE_CHILD_SA exchange in progress
```

**Environment**

Software version used and hardware type if relevant, e.g.:

Intel(R) Core(TM) i3-N305 (8 cores, 8 threads)
Network Intel igc driver


Hey Allan,

Are you reverting a snapshot? Could StrongSwan 6.0.3 be the issue and not 25.7.7 itself?

Lock StrongSwan package from GUI at 6.0.1 and try an update if you can. It should avoid updating StrongSawn.


Cheers,
Franco

Hey Franco,

Yes, I am reverting a snapshot when going from 25.7.7 back to 25.7.6. I let it upgrade to 25.7.7 again when I want to make another attempt. That way I am sure the configuration is fresh. I will try your suggestion to lock StronSwan on 6.0.1 and upgrade to 25.7.7 again. I agree with you and suspect this is more on 6.0.3 rather than 25.7.7.

I will report back with the results of that test.


Allan

Franco,

Locking StrongSwan to 6.0.1 and then upgrading to 25.7.7 is the fix. There is nothing queued on `swanctl -l`. All Phase 2 networks show INSTALLED and I am able to pass traffic. I also restarted and every one came up and looks good.

What is your suggestion for next steps - keep 25.7.7 and lock StrongSwan, or revert back to 25.7.6? I have no problem going either way. Thanks for your help.


Allan

There's no reason to drop all the security fixes in 25.7.7. Either locking strongswan before upgrading or reverting it from 25.7.7 with **opnsense-revert  -r 25.7.6 strongswan && pkg lock strongswan** will suffice.


Did you try using non-CBC proposals ? I had no issues on 6.0.3 with either **AES_GCM_16-256/PRF_HMAC_SHA2_512/CURVE_25519** or **AES_GCM_16-256/PRF_HMAC_SHA2_512/CURVE_448** 


I'm using public keys and no NAT before IPSec - but I don't think any of the two are relevant for your 6.0.3 issue.

Unfortunately, I cannot change my encryption settings without affecting the group that is defined on the far end and its VPN connections. I did a quick lab between 2 OPNsense nodes and it worked fine but it did not completely replicate my environment. It did not have NAT before IPSec for one, and as you pointed out I did not look at the proposed protocols.

Hopefully, anyone similarly affected can post descriptions of their setup and the output from `swanctl -l` so we can find what we have in common.

> What is your suggestion for next steps

invoking @tobiasbrunner :)

For now one can use 25.7.7 with 6.0.1 as mentioned here https://github.com/opnsense/core/issues/9382#issuecomment-3519423844

Here is a log from 6.0.1 - same logging parameters.

[ipsec_20251112-working-edited.log](https://github.com/user-attachments/files/23504306/ipsec_20251112-working-edited.log)

> I increased logs to KNL, CHD, NET, IKE, and ENC. Let me know if there is a specific module you are looking for.

CFG could be interesting (ENC not so much, see the recommended levels).

Because of the masked IPs it's difficult to say what exactly is going on. It looks like the IKE packets are matching some IPsec policies (reqid 1000 - what policy is that?) and triggering acquires (i.e. packets aren't sent).  This should never happen as bypass policies are installed directly on the UDP sockets by the `kernel-pfkey` plugin. Maybe it's related to your policy hacking in the updown script (what exactly are you doing there and why?), because it apparently happens only after that. Why it would only be the case with 6.0.3 but not 6.0.1 I don't know.

I apologize for not having the correct log levels. I have new logs that should contain the info you need. I kept the last octet and the mask to help distinguish between each IP.

[ipsec_20251112-2-edited.log](https://github.com/user-attachments/files/23510081/ipsec_20251112-2-edited.log)
[ipsec_20251112-working-2-edited.log](https://github.com/user-attachments/files/23510084/ipsec_20251112-working-2-edited.log)

Reqid 1000 is similar as the others but the remote_ts address (x.x.x.84/32) is also the firewall IP (x.x.x.84). This is because my peer is a CheckPoint and it includes all of its interfaces in the encryption address space. PINGs and SSH to the remote firewall must be done inside the VPN tunnel, for example.

To test, I removed reqid 1000 and captured logs.

[ipsec_20251112-noReqId1000-edited.log](https://github.com/user-attachments/files/23511006/ipsec_20251112-noReqId1000-edited.log)

Thank you for pointing me to the ESP proposals. The peer is configured for RFC6379 "Suite-B-GCM-256", and it recorded the following proposals with 6.0.3:

```
Proposal Payload 

ID:							1
SPI:						c9df779b
Diffie Helman:				Group 21 (521-bit random ECP group), Group 20 (384-bit random ECP group), Group 19 (256-bit random ECP group), Group 18, Group 17, Group 16, Group 15, Group 14
Encryption algorithm:		AES-GCM-256, AES-GCM
Extended Sequence Number:	No ESN

ID:							2
SPI:						c9df779b
Diffie Helman:				Group 21 (521-bit random ECP group), Group 20 (384-bit random ECP group), Group 19 (256-bit random ECP group), Group 18, Group 17, Group 16, Group 15, Group 14
Encryption algorithm:		AES-256, AES-192, AES-128
Extended Sequence Number:	No ESN
Integrity algorithm:		HMAC-SHA2-512, HMAC-SHA2-384, AES-XCBC, HMAC-SHA2-256, HMAC-SHA1
```

There is no proposal for a `NONE` key exchange--just these two. The peer records the following error:
```
Dir				Inbound
Type			[IPsec] Create Child SA
final_state		waiting for DH
final_status	failure (final)
serial			610048
```

Here are the proposals from 6.0.1 for comparison.
```
Proposal Payload 

ID:							1
SPI:						c4d83b5b
Encryption algorithm:		AES-GCM-256, AES-GCM
Extended Sequence Number:	No ESN

ID:							2
SPI:						c4d83b5b
Encryption algorithm:		AES-256, AES-192, AES-128
Extended Sequence Number:	No ESN
Integrity algorithm:		HMAC-SHA2-512, HMAC-SHA2-384, AES-XCBC, HMAC-SHA2-256, HMAC-SHA1
```


> NONE is 0, which might not fit their listing of actual KE methods. Or they really don't support it at all and just ignore it.

Debug logs say the following with no mention of `NONE`. It just considered the proposal invalid since it was not expecting a KE.
```
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] My proposal list: - 1 proposal(s)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Proposal 1 of 1
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Encryption Algorithm: AES-GCM-256
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Extended Sequence Numbers: No ESN
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] dbCommunityHandle::getPrefChildEncMethod: entering
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeSimpOrder::getPreferredChildEncr: encryption method: AES-GCM-256  order 609995 (ref count 1).
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] dbCommunityHandle::getPrefChildIntegMethod: entering
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeSimpOrder::getPreferredChildInteg: auth method   order 609995 (ref count 1).
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] dbHandleBase::usingPfs: entering
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Peer proposal list: - 2 proposal(s)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Proposal 1 of 2 (spi=0xc9df779b)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Encryption Algorithm: AES-GCM-256,AES-GCM
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Diffie-Hellman Groups: Group 21 (521-bit random ECP group),Group 20 (384-bit random ECP group),Group 19 (256-bit random ECP group),Group 18,Group 17,Group 16,Group 15,Group 14
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Extended Sequence Numbers: No ESN
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Proposal 2 of 2 (spi=0xc9df779b)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Encryption Algorithm: AES-256,AES-192,AES-128
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Integrity Algorithm: HMAC-SHA2-512,HMAC-SHA2-384,AES-XCBC,HMAC-SHA2-256,HMAC-SHA1
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Diffie-Hellman Groups: Group 21 (521-bit random ECP group),Group 20 (384-bit random ECP group),Group 19 (256-bit random ECP group),Group 18,Group 17,Group 16,Group 15,Group 14
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2]       Extended Sequence Numbers: No ESN
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] dbHandleBase::usingPfs: entering
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeProposal::is_valid_for_esp: The proposal contains a KE method even though it is not expected. Considering the proposal as invalid
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] SAValidator::createCommonProp: peer prop (idx: 0) is invalid
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] dbHandleBase::usingPfs: entering
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeProposal::is_valid_for_esp: The proposal contains a KE method even though it is not expected. Considering the proposal as invalid
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] SAValidator::createCommonProp: peer prop (idx: 1) is invalid
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] SAValidator::createCommonProp: No common proposal
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] SAValidator::isValidSA: failed to get a prop common to me and peer.
```

> Not sure what they mean by "waiting for DH" or why the final status is "failure" (or why that doesn't result in a response with error notify). 

Based on logs, it still tried a KE after declaring the proposal as invalid. That's where that message came from. We can probably ignore this.

```
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::setStatus: Changing status from: initial to: semi doomed..
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::continueHandleMessage: entering with status = 1
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeChildSAExchange_r::postMessageProcessed: entering.

[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::ikeDHEvent: entering. (exchange 610048)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::trigger: entering. (exchange 610048)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::trigger: Will trigger event type 0; exchange: 610048
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::genDHKey: Generating DH key for Exchange 610048, group (19)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::setState: Changing state from: received message to: waiting for DH..
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::processMessage: returning status -3
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::doHandleMessage: error encountered while processing message: -3
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::continueHandleMessage: entering with status = 1
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeChildSAExchange_r::postMessageProcessed: entering.
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::ikeDHEvent: entering. (exchange 610048)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::trigger: entering. (exchange 610048)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::trigger: Will trigger event type 0; exchange: 610048
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeDHEvent::genDHKey: Generating DH key for Exchange 610048, group (19)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::setState: Changing state from: waiting for DH to: waiting for DH..
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::doHandleMessage: status is doomed. terminating exchange
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::terminate: Terminating the exchange (exchange 610048)
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::terminate: Complete exchange (exchange 610048)
```

As for notification, logs show `Sending notification to peer` but I only see `CREATE_CHILD_SA MID=02 Initiator Request` in Wireshark. There were no responses to those frames. (Logs below happened before KE was attempted above. You can see `validating payload KE` was logged here.)
```
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::setLog: Setting log message:
Sending notification to peer: No proposal chosen MyMethods Phase2: AES-GCM-256, No IPComp, No ESN, No PFS..

[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::processPayloads: While process SA payload changing state to semi-doomed
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeChildSAExchange_r::isPayloadExpected: entering. payload: Nonce.
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::validateGeneralPayload: validating payload Nonce..
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeChildSAExchange_r::isPayloadExpected: entering. payload: KE.
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::validateGeneralPayload: validating payload KE..
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] dbHandleBase::usingPfs: entering
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeChildSAExchange_r::validateKEPayload: Peer DH group (4194304) does not match mine.
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::addNotification: entering..
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeSimpOrder::isSharedSecretAuth: entering (order 609995, ref count 1).
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] dbCommunityHandle::usingPresharedSecret: entering
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] ikeChildSAExchange_r::getMethods: No outbound sa.
[iked9 16833 4065632704]@fw-ch01-02[13 Nov 17:34:51][ikev2] Exchange::setLog: Setting log message:
Sending notification to peer: Invalid Key Exchange payload..
```


> ikeProposal::is_valid_for_esp: The proposal contains a KE method even though it is not expected. Considering the proposal as invalid

Yeah, this box definitely doesn't support NONE. Section [3.3.6](https://datatracker.ietf.org/doc/html/rfc7296#section-3.3.6) has some more details on why this proposal perfectly valid and the behavior here is wrong: 
   
                                      If one of the proposals offered
    is for the Diffie-Hellman group of NONE, and the responder selects
    that Diffie-Hellman group, then it MUST ignore the initiator's KE
    payload and omit the KE payload from the response.


 If that's your device and you paid Checkpoint something for it, you might want to complain to them. And considering that the implementation finds a perceived mismatched proposal, it should at least return a NO_PROPOSAL_CHOSEN error notify. Also note that INVALID_KE_PAYLOAD, like the last log message suggests, would not be the correct error as that is used to request a different KE method than the one in the received KE payload (the initiator has to guess which method the responder selects, if it selects a different method, another roundtrip is necessary, which is technically not an error). The notify requires a KE method as data so it's only valid if the proposal selected by the responder actually contains a KE method.

@aque https://github.com/opnsense/core/commit/f9be72cc6f1a13c949b9aa6ab889d8367b2c1d4b should offer the esp_proposals option in the gui.

I like to give an update should anyone run into this. I worked with Check Point TAC and we got this behavior corrected and it now follows the RFC. They plan to integrate this fix in a future version but anyone affected can contact TAC for a custom hotfix by referencing PRHF-43851.

[My comment earlier](https://github.com/opnsense/core/issues/9382#issuecomment-3532988137) shows the Check Point debug logs without the patch. You need the hotfix if you see that error--below is with it applied. I really hope this helps Check Point on their compatibility with third-party VPN peers and not limited to StrongSwan.

```
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] Peer proposal list: - 2 proposal(s)
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] Proposal 1 of 2 (spi=0xca0c65c8)
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Encryption Algorithm: AES-GCM-256,AES-GCM
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Diffie-Hellman Groups: Group 21 (521-bit random ECP group),Group 20 (384-bit random ECP group),Group 19 (256-bit random ECP group),Group 18,Group 17,Group 16,Group 15,Group 14,NONE ID
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Extended Sequence Numbers: No ESN
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] Proposal 2 of 2 (spi=0xca0c65c8)
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Encryption Algorithm: AES-256,AES-192,AES-128
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Integrity Algorithm: HMAC-SHA2-512,HMAC-SHA2-384,AES-XCBC,HMAC-SHA2-256,HMAC-SHA1
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Diffie-Hellman Groups: Group 21 (521-bit random ECP group),Group 20 (384-bit random ECP group),Group 19 (256-bit random ECP group),Group 18,Group 17,Group 16,Group 15,Group 14,NONE ID
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Extended Sequence Numbers: No ESN
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] dbHandleBase::usingPfs: entering
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] dbHandleBase::usingPfs: entering
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] The common proposal:
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Encryption Algorithm: AES-GCM-256
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2]       Extended Sequence Numbers: No ESN
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] ikeChildSAExchange_r::isPayloadExpected: entering. payload: Nonce.
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] Exchange::validateGeneralPayload: validating payload Nonce..
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] ikeChildSAExchange_r::isPayloadExpected: entering. payload: KE.
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] Exchange::validateGeneralPayload: validating payload KE..
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] ikeChildSAExchange_r::validateKEPayload: Common proposal does not contain PFS configuration. Ignoring peer's KE payload per RFC 7296 Section 3.3.6.
[iked0 11518 4066750912]@cpfw[7 Aug 22:53:57][ikev2] ikeChildSAExchange_r::isPayloadExpected: entering. payload: TS-i.

```
